.fancy-tree {
    .expansion-button-container {
        width: 30px;
        display: inline-block;

        & button {
            border: 0;
            width: 30px;


            .fa-spinner {
                animation-name: spin;
                animation-duration: 750ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear; 
            }
        }
    }

    & ul {
        list-style-type: none;
        padding-inline-start: 20px;
    }

    & > ul {
        padding: 0;
        margin: 0;
    }

    .item-content {
        display: inline-block;
        border: 1px solid transparent;
        padding: 1px 3px 1px 2px;
        cursor: default;

        &:hover {
            background-color:#a99f9a; 
            background-image: none,linear-gradient(to bottom,#cbc5c2 0,#a99f9a 100%);
            border: 1px solid #a99f9a;
            border-radius: 3px;
        }
    }

    .item-selected {
        color: white;
        background-color:#7A95B8;
        background-image: none,linear-gradient(to bottom,#597BA6 0,#7A95B8 100%);
        border: 1px solid #7A95B8;
        border-radius: 3px;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}